*
{
    margin: 0;
    padding: 0;
    
}
.entry-outer{
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.explore-btn
{
    background-color: aliceblue;
}
#entry
{
    width: 50%;
    
}
.explore-h1{
    font-weight:900;
    font-size: 7vh;
    background: linear-gradient(to right, #fc4a1a, #f7b733);    
        -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    
}
#explore-h3
{
    color: white;
}
.explore-outer{
    color: white;
    box-sizing: border-box;
    padding: 5px;
    /* background: linear-gradient(to left, #a8c0ff, #3f2b96);  */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    height: 100vh;

 }
 .explore-ul,li
 {
    color: white;
    list-style-type:symbols(" 🌕 ");
    padding: 20px;

 }
 .elplore-footer
 {
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 .footer-inner
 {
    height: 5vh;
    width: 90%;
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 }

