.outer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: #2980B9;  */
    /* background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.inner {
    background-color: '#f9f9f9';
    width: 50%;
    height: 80%;

}

.Question-heading {
    color: white;
    font-weight: bold;
}

.question {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 3vh;
    
}
.mcq-outer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mcqs {
    list-style-type: none;
    margin-top: 3vh;
    width: 50%;
}
.next-question-btn
{
    width: 20%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    background: transparent; 
    

}
.time
{
    font-weight: bold;
    color: white;
    margin-top: 10px;
}
.final-score {
    color: #555;
}

.result {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.score
{
    color: white;
}
.quizz-completed{
    color: white;
}
.restart
{
  
    background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);

    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}